body{
    background-image: url(../../public/resources/img/bg_img.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.contacts-title{
    margin: 2%;
    font-size: 220%;
    color: var(--second-color);
    font-family: 'subtitle-font';
    text-shadow: 4px 4px 10px var(--first-color);
}

.contacts-modif{
    width: 40%;
}

.contact-btn{
    margin: 3%;
    border: none;
    cursor: pointer;
    background-color: transparent;
}

.contact-btn img{
    width: 100%;
    border: 5px solid var(--second-color);
    border-radius: 14%;
    transition: all 0.5s ease;
}

.contact-btn img:hover{
    border: 5px solid var(--fourth-color);
}