body{
    background: linear-gradient(to top, var(--first-color) 0%, transparent 20%);
}

.contacts-title{
    font-size: 300%;
    color: var(--second-color);
    font-family: 'subtitle-font';
}

.contacts-modif{
    display: grid;
    justify-content: center;
    justify-items: center;
    gap: 2%;
}

.contact-btn{
    width: 100%;
    height: 79%;
    border-radius: 14%;
    border: none;
    cursor: pointer;
    background-color: black;
}

.contact-btn img{
    width: 100%;
    height: 100%;
    border: 5px solid var(--second-color);
    border-radius: 14%;
    transition: all 0.5s ease;
}

.contact-btn img:hover{
    border: 5px solid var(--fourth-color);
}