body{
    background: linear-gradient(to top, var(--first-color) 0%, transparent 20%);
    background-image: url(../../public/resources/img/bg_img.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

input{
    width: 24%;
    padding: 5px;
    font-size: 20px;
    font-weight: bold;
    font-family: 'subtitle-font';
    color: var(--second-color);
    background-color: var(--first-color);
    border: 3px solid var(--second-color);
    border-radius: 8px;
    transition: all 0.3s ease;
}

input:focus, select:focus{
    color: var(--first-color);
    background: radial-gradient(circle, var(--second-color, var(--first-color)));
    border: 3px solid var(--fourth-color);
}

input:hover{
    background-color: var(--seventh-color);
    border: 3px solid var(--fourth-color);
}

.searchbar-modif{
    display: flex;
    margin-top: 1%;
    margin-right: 2%;
    justify-content: flex-end;
}

.button-searchbar-modif{
    width: 53px;
    height: 45px;
    padding-left: 6px;
    margin-left: 6px;
    background-color: var(--first-color);
    border: 2px solid var(--second-color);
    border-radius: 8px;
    transition: all 0.3s ease;
}

.button-searchbar-modif:hover{
    background-color: var(--seventh-color);
    border: 2px solid var(--fourth-color);
    cursor: pointer;
}

.button-searchbar-modif:active{
    background: var(--second-color);
    cursor: pointer;
    transition: none;
}

.card-games{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 4%;
    background-color: var(--sixth-color);
    border: 3px solid var(--second-color);
    justify-items: center;
    font-family: Arial;
    color: var(--second-color);
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.container-card{
    display: grid;
}

.button-design
{
    font-family: Arial;
    font-weight: bold;
    color: var(--second-color);
    text-shadow: 1px 1px 5px var(--first-color);
    background-color: var(--first-color);
    border: 3px solid var(--second-color);
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.button-design:hover{
    background-color: var(--seventh-color);
    border: 3px solid var(--fourth-color);
}

.button-design:active{
    text-shadow: none;
    background-color: var(--second-color);
    transition: none;
}