@font-face{
    font-family: 'subtitle-font';
    src: url(../../public/resources/fonts/IBMPlexSans-VariableFont_wdth\,wght.ttf) format('truetype');
}

@font-face{
    font-family: 'title-font';
    src: url(../../public/resources/fonts/MozillaHeadline-VariableFont_wdth\,wght.ttf) format(truetype);
}

@font-face{
    font-family: 'text-font';
    src: url(../../public/resources/fonts/Merriweather-VariableFont_opsz\,wdth\,wght.ttf) format(truetype);
}

:root{
    --first-color: #000000;
    --second-color: #fcbf49;
    --third-color: #f77f00;
    --fourth-color: #ac2321;
    --fifth-color: #5c1778;
    --sixth-color: #0D0D0D;
    --seventh-color: #531211;
}


html{
    overscroll-behavior: none;
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
    background-color: var(--first-color);
}

header{
    position: sticky;
    top: 0;
    text-align: center;
}

.head-content{
    display: inline-block;
}

.menu-btn{
    position: absolute;
    top: 2vh;
    display: none;
    padding: 18px;
    border: 2px solid var(--second-color);
    opacity: 0.5;
    background-color: var(--first-color);
    border-radius: 3px;
    cursor: pointer;
}

.toggle-menu{
    display: none;
}

.head-container{
    position: relative;
    z-index: 1;
    display: inline-block;
    margin-bottom: 4px;
    padding: 15px 42px;
    font-weight: bold;
    font-size: 19px;
    font-family: 'subtitle-font';
    color: var(--second-color);
    text-shadow: 1px 1px 10px black;
    text-decoration: none;
    border: 3px solid var(--second-color);
    background-color: var(--first-color);
    border-radius: 8px;
    transition: all 0.3s ease;
}

.head-container:hover{
    background-color: #531211;
    border: 3px solid var(--fourth-color);
}

.head-container:active{
    text-shadow: none;
    background: var(--second-color);
    transition: none;
}

.small-img{
    padding: 10px;
}

button .head-container{
    background-color: white;
}

.menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.submenu{
    position: absolute;
    top: 100%;
    display: none;
    list-style: none;
    width: 97%;
    padding: 0;
    border: 3px solid var(--fourth-color);
    background-color: var(--first-color);
    border-radius: 2%;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
}

.submenu li a{
    display: block;
    padding: 8px;
    border: 1px solid var(--fourth-color);
    font-family: 'subtitle-font';
    font-weight: bold;
    color: var(--second-color);
    text-decoration: none;
    text-align: center;
    text-shadow: 1px 1px 10px black;
    transition: all 0.3s ease;
}

.submenu li a:hover{
    background-color: #531211;
}

.submenu li a:active{
    text-shadow: none;
    background: var(--second-color);
    transition: none;
}

.drop-menu{
    position: relative;
}

.drop-menu:hover .submenu{
    display: block;
    opacity: 1;
    visibility: visible;
    transition: all 0.3s ease;
}

.drop-menu:hover .head-container{
    border: 3px solid var(--fourth-color);
}

@media(min-width:320px) and (max-width: 480px){
    header{
        text-align: left;
    }

    .submenu li a{
        display: none;
    }

    .menu-btn{
        display: block;
        z-index: 12;
    }

    .toggle-menu:checked + .menu-btn{
        left: 67px;
        opacity: 1;
    }

    .toggle-menu:checked ~ .head-content{
        transform: translate(0);
    }
    
    .menu-icon{
        background-image: url(../../public/resources/img/BurgerMenuIcon.png);
    }

    .head-container{
        width: 78px;
        padding: 8px 10%;
        border: 2px solid var(--second-color);
        font-size: 13px;
        border-radius: 0;
    }

    .head-container:hover{
        border: 2px solid var(--fourth-color);
    }

    .menu{
        display: grid;
        grid-template-columns: 1fr;
    }

    .head-content{
        position: fixed;
        z-index: 10;
        transform: translateX(-100%);
        width: 120px;
        height: 305px;
        padding-top: 10vh;
        background-color: rgba(0, 0, 0, 0.7);
        border-radius: 4px;
    }
}