<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Df | Admin</title>
    <link rel="stylesheet" href="/src/css/superior_menu_style.css">
</head>
<body>
    <header>
        <input class="toggle-menu" type="checkbox" id="burger-menu">
        <label class="menu-btn menu-icon" for="burger-menu"></label>
        <nav class="head-content">
            <ul class="menu">
                <li><a class="head-container" href="../../../public/index.html">Inicio</a></li>
                <li><a class="head-container" href="games.html">Juegos</a></li>
                <li class="drop-menu"><a class="head-container" href="products.html">Productos</a>
                    <ul class="submenu">
                        <li><a href="products.html">Ropa</a></li>
                        <li><a href="products.html">Accesorios</a></li>
                        <li><a href="products.html">Peluches</a></li>
                        <li><a href="products.html">Stickers</a></li>
                        <li><a href="products.html">Figuras</a></li>
                    </ul>
                </li>
                <li><a class="head-container" href="contacts.html">Contactos</a></li>
                <li><a class="head-container" href="notice.html">Avisos</a></li>
                <li><a class="head-container" href="#">Nosotros</a></li>
            </ul>
        </nav>
    </header>

    <main>

    </main>

    <footer>
        <div>
            <p style="color: white; text-align: center;">&copy; 2025 Dragon Flame. Todos los derechos reservados</p>
        </div>
    </footer>
</body>
</html>