<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DF | Productos</title>
    <link rel="stylesheet" href="../../css/products_style.css">
    <link rel="stylesheet" href="../../css/superior_menu_style.css">
</head>
<body>
    <header>
        <input class="toggle-menu" type="checkbox" id="burger-menu">
        <label class="menu-btn menu-icon" for="burger-menu"></label>
        <nav class="head-content">
            <ul class="menu">
                <li><a class="head-container" href="../../../public/index.html">Inicio</a></li>
                <li><a class="head-container" href="games.html">Juegos</a></li>
                <li class="drop-menu"><a class="head-container" href="#">Productos</a>
                    <ul class="submenu">
                        <li><a href="#">Ropa</a></li>
                        <li><a href="#">Accesorios</a></li>
                        <li><a href="#">Peluches</a></li>
                        <li><a href="#">Stickers</a></li>
                        <li><a href="#">Figuras</a></li>
                    </ul>
                </li>
                <li><a class="head-container" href="contacts.html">Contactos</a></li>
                <li><a class="head-container" href="notice.html">Avisos</a></li>
                <li><a class="head-container" href="#">Nosotros</a></li>
                <li><a class="head-container small-img" href="add_products.html"><img src="../../../public/resources/img/ToolMode.png" alt="" style="height: 40%; width: 30px;"></a></li>
            </ul>
        </nav>
    </header>

    <main>
        <div class="searchbar-modif">
            <input id="searchproduct" type="text" name="searchproduct" placeholder="Buscar producto...">
            <button class="button-searchbar-modif"><img src="../../../public/resources/img/SearchIcon.png"></button>
            <button class="button-searchbar-modif"><img src="../../../public/resources/img/FilterIcon.png"></button>
        </div>

        <div class="grid-products">
            <div class="card-container">
                <img id="product-image" src="../../../public/resources/img/product1.webp">
                <h2 class="name-product-modif">Peluche Robot UltraLoco</h2>
                <button class="button-design">Mas informacion</button>
            </div>

            <div class="card-container">
                <img id="product-image" src="../../../public/resources/img/product2.webp">
                <h2 class="name-product-modif">Playera de Mauricio</h2>
                <button class="button-design">Mas informacion</button>
            </div>

            <div class="card-container">
                <img id="product-image" src="../../../public/resources/img/product3.jpg">
                <h2 class="name-product-modif">Peluche Principe Cordero</h2>
                <button class="button-design">Mas informacion</button>
            </div>

            <div class="card-container">
                <img id="product-image" src="../../../public/resources/img/product4.jpg">
                <h2 class="name-product-modif">Peluche Caballerito Hueco</h2>
                <button class="button-design">Mas informacion</button>
            </div>

            <div class="card-container">
                <img id="product-image" src="../../../public/resources/img/product5.jpg">
                <h2 class="name-product-modif">Chaqueta de chaqueta</h2>
                <button class="button-design">Mas informacion</button>
            </div>

            <div class="card-container">
                <img id="product-image" src="../../../public/resources/img/product6.jpg">
                <h2 class="name-product-modif">Mascara sublime</h2>
                <button class="button-design">Mas informacion</button>
            </div>
        </div>
    </main>

    <footer>
        <div>
            <p style="color: white; text-align: center;">&copy; 2025 Dragon Flame. Todos los derechos reservados</p>
        </div>
    </footer>
</body>
</html>